* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Figtree;
  src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
}

body {
  background-color: hsl(47, 88%, 63%);
  display: grid;
  grid-template-rows: 1fr auto; /* main takes space, attribution hugs content */
  min-height: 100vh;
  margin: 0;

  font-family: Figtree;
}

/* card styles */
.card {
  background-color: white;
  place-self: center;
  width: 250px;
  padding: 20px;
  border-radius: 20px;
  border: solid 1px black;
  box-shadow: 10px 10px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;

  color: hsl(0, 0%, 7%);
  font-size: 0.8rem;
}

.article-img {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.category {
  background-color: hsl(47, 88%, 63%);
  border-radius: 5px;
  padding: 5px 10px;
  display: inline-block;
  font-weight: bold;
}

.text-sm {
  font-size: 0.7rem;
}

.card-title {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 5px 0;
}

.card-body {
  color: hsl(0, 0%, 42%);
  margin-bottom: 10px;
}

.author-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.avatar {
  width: 2.5em;
}

.author {
  font-weight: bold;
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
