* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Figtree;
  src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: hsl(47, 88%, 63%);
  display: grid;
  grid-template-rows: 1fr auto; /* main takes space, attribution hugs content */
  min-height: 100vh;
  margin: 0;

  font-family: Figtree;
}

.card {
  background-color: white;
  place-self: center;
  width: 275px;
  padding: 20px;
  border-radius: 20px;
  border: solid 1px black;
  box-shadow: 10px 10px;

  display: flex;
  flex-direction: column;
}
